/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.headerContainer {
  background: #eceff1;
  min-width: 100vw;
  /* position: relative; */
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.bodyContainer {
  background: #eceff1;
  background-image: url("https://i.imgur.com/yggaZ5s.png");
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem 1rem;
  background-position: top;
  z-index: 1;
}
