.card {
  border-radius: 2px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  resize: initial;
}

.card > .img-container > img {
  width: 100%;
}

.card-container {
  max-width: 600px;
}
