.card {
  position: relative;
  /* resize: initial; */
}

.card > .img-container > img {
  width: 100%;
  border-radius: 0.75rem;
}

.card-container {
  max-width: 600px;
  box-shadow: 10px 2px 24px rgba(0, 0, 0, 1);
}
